.blog-post-style {
  background-color: rgb(66, 99, 63);
  padding: 40px;
  margin: 20px 120px;
}

.link {
  color: rgb(0, 0, 0);
  margin: 40px;
}

.header {
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 10vh;
  background-color: rgb(80, 161, 56);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-text {
  color: black;
}
.blog-runrik {
  color: black;
  font-size: x-large;
  font-weight: 800;
}
p {
  color: black;
}
.coment {
  display: flex;
  box-shadow: 4px;
  border-style: solid;
  border-radius: 10px;
}
.coment-user {
  padding: 10px;
}
.text-conent {
  padding: 10px;
}
input[type="text"] {
  accent-color: green;
  background-color: rgb(0, 0, 0);
}
